*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  *::selection{
    background-color: #000;
    color: white;
  }
  html,body{
    width: 100%;
    height: 100%;
    background-color: #f6f8ff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
body img{
    pointer-events: none;
  }
  #user-main{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #user-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #user-main-container img{
    position: absolute;
    width: 400px;
    opacity: 0.2;
    filter:grayscale(0.8)
  }
  #user-main-container button{
    position: relative;
    z-index: 1;
    background-color: #525252;
    padding: 5px;
    color: #f6f8ff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
  }
