{% load static %}

<div id="cardparent">
    <div id="card">
        <div id="card1"class="card">
            <div id="imgs">
                <img src="{% static '/images/tajmahal.jpg' %}" alt="">
                <div class="card-content">
                    <h2>
                      (INDIA)
                    </h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                    </p>
                    <a href="#midpart" class="button"styl>
                      Find out more 
                      <span class="arrow">
                        >
                      </span>
                    </a>
                </div>
            </div>
            
        </div>
        <div id="card2"class="card">
            <div id="imgs">
                <img src="{% static '/images/thaiamz.jpg' %}" alt="">
                <div class="card-content">
                    <h2>
                      (THAILAND)
                    </h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                    </p>
                    <a href="#midpart" class="button">
                      Find out more 
                      <span class="arrow">
                        >
                      </span>
                    </a>
                </div>
            </div>
            <div id="cardcontent">
                
            </div>
        </div>
        <div id="card3"class="card">
            <div id="imgs">
                <img src="{% static '/images/new.jpg' %}" alt="">
                <div class="card-content">
                    <h2>
                      (FRANCE)
                    </h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                    </p>
                    <a href="#midpart" class="button">
                      Find out more 
                      <span class="arrow">
                        >
                      </span>
                    </a>
                </div>
            </div>
            <div id="cardcontent">
                
            </div>
        </div>
    </div>
</div>