{% load static %}
<!DOCTYPE html>
<hrml>
    <head>
        <link rel="stylesheet" href="{% static '/styleyou.css' %}">
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>  
        <div id="user-main">
            <div id="user-main-container">
                <img src="{% static 'images/comming.jpg' %}">
                <h1>Login successfull</h1><br>
                <p>Kaam Abhi Pragati par Hai</p>
                <a href="/"><button>Go TO Homepage</button></a>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'main.js' %}"></script>
    </body>
</html>
